.icon{
    max-width: 32vh;
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 20px;
}

ion-input, ion-item{
    --background: transparent;
}
ion-content{
    --background: aliceblue;
}

.text-danger{
    color: #cf3c4f;
}
.google{
	--background: #DB4437; 
}
.content {
	margin-top: 100px;
}

ion-item {
	margin-top: 15px;
}

p{
    text-align: center;
}




.otp_form {
  margin-top: 18px;
  text-align: center;
}
.x{
  display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 18%;
    --background: #e1e1e1;
    --padding-start: 7px;
  }