<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home 
    </ion-title>

  <ion-buttons slot="end" (click)="delete()">
      <ion-icon name="exit"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list-header>
    Users
  </ion-list-header>
  <ion-item lines="none" *ngFor="let user of users" (click)="gotoChat(user.uid, user)" button >
    <ion-avatar slot="start">
      <img src="assets/icon/graphic2.svg" alt="">
    </ion-avatar>
    <ion-label>
      <h2>
        <b>{{user.name}}</b>
      </h2>
      <p>
      {{user.username}}
      </p>
    </ion-label>
  </ion-item>
</ion-content>
